<h1>動画</h1>
<p>Find me in app/views/movie/index.html.erb</p>
<div id="sample"></div>
<button id="play">再生</button>
<button id="pause">一時停止</button>
<button id="prev">10秒前へ</button>
<button id="next">10秒先へ</button>
<button id="volup">音量アップ</button>
<button id="voldown">音量ダウン</button>
<button id="mute">ミュート</button>
